*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* body {
    height: 900vh;
    width: 100%;
    border: 3px solid;
} */

 .flexbox  { 
   display: flex;
   justify-content: center;
   height: 600px;
}

.input input {
    display: flex;
    justify-content: center;
    height: 500px;
    
}
  

