* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin-top: 20vh;
    
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 10px;
    height: 200px;
    width: 300px;
    background-color: rgb(224, 241, 241);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 15rem;
    
}

.input input label {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input {
    margin-bottom : 70px;
    width: 200px;
    
}

button   {
margin-top: 5px;
margin-left: 50px;
width: 100px;

}

h3 {
    display: flex;
    justify-content: center;
    
}
